ACTION_APP_DATABASE_URL=sqlite:///D:/ActionRecognition/data/app_storage/app.sqlite3
ACTION_APP_STORAGE_ROOT=D:/ActionRecognition/data/app_storage
ACTION_APP_MODEL_CACHE=D:/ActionRecognition/models/openclip_vit_b32_openai
ACTION_APP_SCAN_ROOTS={"inputs":"D:/ActionRecognition/inputs","thumos14":"D:/ActionRecognition/data/etbench_thumos14/videos/thumos14"}
ACTION_APP_WORKER_POLL_SECONDS=1.0
ACTION_APP_STALE_JOB_SECONDS=300
ACTION_APP_MAX_UPLOAD_BYTES=2147483648
ACTION_APP_API_PORT=8010
